.container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container > a {
    background-color: var(--color-tinta);
    color: white;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
}

.container > .objetivos {
    background-color: var(--color-tinta);
    filter: opacity(0.5);
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
}

.container > .objetivos > li > a {
    color: white;
    text-decoration: none;
    font-family: var(--fuente-cuerpo);
}